#ground{
    position: relative;
    top:-1382px;
}

#ground2{
    width:50%;
}

#ground1{
    width:50%
}

@media only screen and (max-height: 800px) {
    #ground{
        
        top:-1520px;
    }


} 