.serie {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
.serie.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
.serie:nth-child(2) {
    margin-top: 50px;
}
.serie:nth-child(3) {
    margin-top: 100px;
}
.serie:nth-child(4) {
    margin-top: 150px;
}
.serie:nth-child(5) {
    margin-top: 200px;
}
.serie:nth-child(6) {
    margin-top: 250px;
}
.serie:nth-child(7) {
    margin-top: 250px;
}
.serie:nth-child(8) {
    margin-top: 200px;
}
.serie:nth-child(9) {
    margin-top: 150px;
}
.serie:nth-child(10) {
    margin-top: 100px;
}
.serie:nth-child(11) {
    margin-top: 50px;
}
.serie:nth-child(12) {
    margin-top: 0px;
}

.brickStack{
    position: absolute;
    left:3500px;
    top:0;
    height:100vh;
    background-color:#0059b3;  
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    width:2500px;
    
}
.tools{
	position:absolute;
	top:0;
    left:800px;
    z-index: 1;
}

#star1{
    position:relative;
    top:250px;
    left:800px;
    width:50px;
    z-index: 1;
}
#star2{
    position:relative;
    top:350px;
    left:850px;
    width:40px;
    z-index: 1;
}

#star3{
    position:relative;
    top:280px;
    left:1000px;
    width:30px;
    z-index: 1;
}

#star4{
    position:relative;
    top:100px;
    left:1600px;
    width:30px;
    z-index: 1;
}

#star5{
    position:relative;
    top:60px;
    left:1900px;
    width:40px;
    z-index: 1;
}

.box{
    
   
    margin:10px;
   
    float:left;
   
    
}

#reveal-boxes{
position: relative;
top:80px;
left:1000px;
width:1500px;
}