.project3{
    position: absolute;
    left:10500px;
    top:120px;
}

.p3p1{
    width:550px;
    margin-bottom:30px;
}

.p3Table{
    width:250px;
}

.bee3{
    position:absolute;
    top:200px;
    left:1100px;
    width:200px;
    
}