
.hori-scroll {
	min-height: 120vh; 
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 2000px; /* should be equal to min height above it */
	left: 0px;
	transition: transform 0s linear;
}

.in-scroll {
	height: 100vh;
	width: 600vh; /* width of horizontal scroll */
    background-position: center;
    background-color:lightpink;
	background-size: cover;
    transition: transform .15s linear;
    
}

.tree{
	position: absolute;
	top:470px;
	
	width:250px;
}
#tree1{
	left:1700px;
}

#tree2{
	left:3400px;
}

.kiwi{
	position: absolute;
	top:640px;
	left:1930px;
	width:100px;
}

.kiwi2{
	position: absolute;
	top:640px;
	left:3330px;
	width:100px;
}

.animation{
	position:absolute;
	top:0;
	left:2100px;
}