.contactForm{
    position: absolute;
    top:100px;
    left:12000px;
    padding:20px 50px;
    background-color: lightsalmon;
    border:6px solid darkred;
    border-radius: 50px;
    

}

.thankyou{
    position: absolute;
    top:150px;
    left:700px;
    
    
}
.send{
    margin-left:150px;
}
